body {
  font-weight: 500;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif !important;
}
/* Layout */
.ant-layout-content.bg-dark-grey {
  background-color: #151515;
  min-height: calc(100vh - 110px);
}
.ant-layout-content.bg-dark-grey h2 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
.ant-layout-header,
.ant-layout-footer {
  padding: 15px 50px !important;
  height: unset !important;
}

.ant-layout-header,
.ant-layout-footer {
  background: #030303 !important;
  font-family: 'Open Sans', sans-serif;
  color: #fff !important;
}
.ant-layout-header .ant-typography,
.ant-layout-footer .ant-typography {
  color: #fff !important;
  margin-bottom: 0;
  font-size: 18px;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}
/* Todo List */
.todo-list-row {
  position: relative;
}
.todo-list-row .add-icon {
  background: #e3cbd2;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  position: absolute;
  top: -30px;
  right: -30px;
  border: none;
  border-radius: 50%;
}
.todo-list-row .add-icon:focus,
.todo-list-row .add-icon:hover {
  background: #efbebe;
  color: #fff;
  border-color: #efbebe;
}

.darggable-list-item {
  border-bottom: 1px solid #efbebe;
  border-radius: 10px;
}
.darggable-list-item:hover,
.darggable-list-item.is-dragging {
  background: #efbebe !important;
  border-bottom: none;
  color: #fff;
}
.darggable-list-item.is-dragging .ant-list-item * {
  color: #fff;
}
.darggable-list-item:last-child {
  border: none;
}

.droppable-area {
  border-radius: 10px;
  min-height: 30px;
  background: #e3cbd2;
}
.droppable-area .empty-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.15rem 0.75rem;
  min-height: 30px;
}
.droppable-area .ant-list-item {
  padding: 0.15rem 0.75rem;
}
.droppable-area .ant-list-item,
.droppable-area .ant-list-item-meta-description,
.droppable-area .ant-list-item-meta-content {
  color: rgba(0, 0, 0, 0.85);
}

.column {
  padding-bottom: 25px;
  padding-top: 25px;
}

/* Modal Styles */
.action-icon {
  padding: 0.5rem;
}
.action-icon:hover {
  cursor: pointer;
  color: white;
}

.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.15) !important;
}
.ant-modal-header .ant-modal-title {
  font-family: 'Open Sans', sans-serif;
}

.ant-modal-content,
.ant-modal-header,
.ant-modal-footer {
  background-color: #d7c0c7 !important;
}

.ant-input {
  border-radius: 10px !important;
}

.ant-modal .ant-btn {
  border-radius: 10px;
}
.ant-modal .ant-btn-primary {
  color: #fff;
  background: #121212;
  border-color: #121212;
}
.ant-modal .ant-btn:focus,
.ant-modal .ant-btn:hover {
  border-color: #b33030 !important;
  box-shadow: 0 0 0 2px rgba(179, 48, 48, 0.35) !important;
  background: #b33030;
  color: #fff;
}

.ant-modal .ant-btn-primary:hover,
.ant-modal .ant-btn-primary:focus {
  border-color: #151515 !important;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 20%) !important;
  background: rgba(18, 18, 18, 0.9);
}

/* Input  */
.ant-input:focus,
.ant-input:hover,
.ant-input-focused {
  border-color: #151515 !important;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 20%) !important;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .list-unstyled,
.footer p {
  margin-bottom: 0;
}

.footer .list-unstyled {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  width: 50%;
}
.footer .list-unstyled li {
  flex: 0 0 50px;
  text-align: center;
}
.footer .list-unstyled a {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  transition: background-color 0.4s ease-in-out;
}
.footer .list-unstyled a:hover {
  background-color: #fff;
}
.footer a span {
  font-size: 20px;
  color: #fff;
  transition: color 0.4s ease-in-out;
}
.footer a:hover span {
  color: #030303;
}
